footer.footer
  h2.footer__title Conheça quem trabalha no projeto </h2>
  div.footer__posters
    a(
      href="https://github.com/emanuelgsouza"
      class="footer__posters__poster"
      target="blanck")
      img(
        src="https://avatars3.githubusercontent.com/u/20342656?v=3&u=5e6a0e43ca2afbd8e1cf0b75022cff5f0c2dc7e8&s=400"
        alt="Foto de Emanuel Gonçalves, criador e mantenedor deste site")
      p Emanuel G - Criador

  include ../includes/link-menu.pug
