header(class="header")
  div(class="header__title")
    h1(class="title is-2 has-text-centered") Internet Acessível
    span(class="header__line")
    h2(class="subtitle has-text-centered") Guia de Acessibilidade para Desenvolvedores Web

  div(class="header__fork")
    a(
      href="https://github.com/emanuelgsouza/guia-acessibilidade-web"
      title="Contribua com o projeto no GitHub: De um Fork"
      target="blanck") Contribua com o projeto
        i(
          class="fa fa-code-fork"
          aria-hidden="true")

  div(class="header__intro")
    p Olá! Você já parou para pensar em como um deficiente visual consegue acessar um conteúdo web em seu site? Ou como um deficiente auditivo pode entender um vídeo no YouTube, ou no seu site? Há muita gente trabalhando para que pessoas com deficiência (e não são poucas) possam acessar a internet de forma que o conteúdo, o “rei da cocada preta”, possa ser acessível a elas. Mas se você já pesquisou um pouco sobre o tema, sabe que ele é muito difuso na rede, e meio complicado de compreende-lo, isso sem contar a documentação extensa da W3C. Este guia se destina a qualquer pessoa que queira compreender como transformar o conteúdo da rede em um conteúdo acessível. E só te peço um favor: compartilhe esta informação e contribua, aumentando o conteúdo ou o compartilhando, para que ela possa crescer mais e mais.
    span(class="header__citation--line")
    p(class="subtitle") “O poder da web está em sua universalidade. Ser acessada por todos, independente de deficiência, é um aspecto essencial” Tim Berners-Lee

  nav(
    id="menu"
    class="header__menu")
    h3 O que você vai encontrar
    ul
      li(class="header__menu__link")
        a(href="#tag1"
          title="Ir para o conteúdo da seção O que é acessibilidade na Web" class="header__menu__link"
          ) O que é Acessibilidade Web
        span

      li(class="header__menu__link")
        a(href="#tag2"
          title="Ir para o conteúdo da seção Por que meu site deve ser acessível?"
          ) Por que um site deve ser acessível?
        span

      li(class="header__menu__link")
        a(href="#tag3"
          title="Ir para o conteúdo da seção Quais tecnologias de acessibilidade?"
          ) Quais as tecnologias de acessibilidade?
        span

      li(class="header__menu__link")
        a(href="#tag4"
          title="Ir para o conteúdo da seção Boas práticas para desenvolvimento web"
          ) Boas práticas para desenvolvimento de sites
        span

      li(class="header__menu__link")
        a(href="#tag5"
          title="Ir para o conteúdo da seção sobre a WCAG"
          ) WCAG – Recomendações de Acessibilidade para o conteúdo Web
        span

      li(class="header__menu__link")
        a(href="#tag6"
          title="Ir para o conteúdo da seção sobre a WAI-ARIA" ) WAI-ARIA – Tornando a Web ainda mais semântica
        span

      li(class="header__menu__link")
        a(href="#tag7"
          title="Ir para o conteúdo da seção Aonde encontrar mais conteúdo?" ) Aonde encontrar mais conteúdo?
        span
