section(
    id="tag1"
    class="section section--one"
  )
  h2(class="section__title") O que acessibilidade na Web?
  p(class="section__content") Acessibilidade é a capacidade de tornar um conteúdo acessível à diferentes dispositivos ou diferentes usuários. É aqui que entra uma questão interessante: tornar a web acessível não vai beneficiar somente deficientes. Mas também, qualquer usuário que, por acaso, esteja com uma internet lenta em um determinado momento. Ou um outro usuário que precisa utilizar um smartphone com somente uma mão. Ou um outro usuário que esteja com uma deficiência provisória, como uma cirurgia no olhos. Ou seja, tornar a internet acessível, não é somente para leitores de tela ou braile. É uma necessidade. Há diferentes usuários em diferentes situações e disponibilizar o conteúdo de forma que todos possam acessá-lo é uma contribuição para que a internet se torne universal. Há mais exemplos de situações em que uma aplicação ser acessível é importante 
    a(
      href="http://www.w3c.br/pub/Materiais/PublicacoesW3C/cartilha-w3cbr-acessibilidade-web-fasciculo-I.html#capitulo3"
      title="Ir para a publicação traduzida sobre Introdução a Acessibilidade na Web, da W3C"
      target="blanck"
      class="section__link"
      ) na introdução a Acessibilidade da W3C

  include ../includes/link-menu.pug
