section(id="tag7" class="section section--seven")
  h2.section__title Onde encontrar mais conteúdo?

  ul
    li.section__content
      a(
        href="www.acessibilidadelegal.com/"
        title="Ir para o site brasileiro de Acessibilidade na Internet"
        target="blanck") Site da Acessibilidade Legal

    li.section__content
      a(
        href="www.bengalalegal.com/acessibilidade"
        title="Ir para o site do Bengala Legal"
        target="blanck") Site da Bengala Legal

    li.section__content
      a(
        href="http://tableless.com.br/semantica/acessibilidade-2/"
        title="Consultar o arquivo do Tableless sobre acessibilidade"
        target="blanck") Arquivo da comunidade do Tableless sobre Acessibilidade

    li.section__content
      a(
        href="http://www.maujor.com/w3c/tec_css_acess.html"
        title="Ir para o site do Maujor, na página em que foi traduzida as recomendações CSS da W3C sobre acessibilidade"
        target="blanck") Técnicas CSS para Acessibilidade no site do Maujor

    li.section__content
      a(
        href="https://validator.w3.org/"
        title="Ir para o Validador de Código HTML da W3C"
        target="blanck") Validação de Código HTML da W3C

    li.section__content
      a(
        href="https://jigsaw.w3.org/css-validator/"
        title="Ir para o validador de código CSS da W3C"
        target="blanck") Validação de Código CSS da W3C

  include ../includes/link-menu.pug
